<template>
  <div>
    <b-nav small>
      <b-nav-item>
        <nuxt-link to="#">Inicio</nuxt-link>
      </b-nav-item>
      <b-nav-item v-if="isAuthenticated">
        <nuxt-link to="/users">Usuarios</nuxt-link>
      </b-nav-item>
      <b-nav-item v-if="!isAuthenticated">
        <nuxt-link to="/auth/login">Iniciar Sesión</nuxt-link>
      </b-nav-item>
      <b-nav-item v-else  >
        <nuxt-link to="/auth/logout">Cerrar sesión</nuxt-link>
      </b-nav-item>
    </b-nav>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex';

  export default {
    name: "navbar",
    computed: mapGetters({isAuthenticated: 'auth/isAuthenticated'}),
  }
</script>

<style scoped>

</style>
