<template>
  <div>
    <b-form-group
      label="Usuario:"
      label-for="username"
    >
      <b-form-input
        id="username"
        v-model="username"
        type="text"
        required
      ></b-form-input>
    </b-form-group>

    <b-form-group
      label="Password:"
      label-for="password"
    >
      <b-form-input
        id="password"
        v-model="password"
        type="password"
        required
      ></b-form-input>
    </b-form-group>

    <b-alert v-if="error" show variant="danger">{{error}}</b-alert>

    <b-button @click="login" type="submit" variant="primary">Iniciar Sesion</b-button>
  </div>
</template>

<script>
  export default {
    name: "login",
    data() {
      return {
        username: 'eve.holt@reqres.in',
        password: 'cityslicka',
        error: null
      }
    },
    methods: {
      login() {
        this.error = null;

        this.$store.dispatch('auth/login', {
          username: this.username,
          password: this.password
        }).then(_ => this.$router.push({ path: '/users' }))
          .catch(_ => this.error = 'Usuario o password incorrectos');
      }
    }
  }
</script>

<style scoped>

</style>
