<template>
  <div>
    <b-row>
      <b-col
        md="6"
        sm="12"
        xs="12"
        v-for="task in tasks"
        :key="task.id"
      >
        <b-card  :title="task.title">
          <b-card-text>

          </b-card-text>
          <b-form-checkbox :checked="task.completed" @change="toggleTask(task)" name="check-button" switch>
            <div v-if="task.completed">Marcar como no completado</div>
            <div v-else>Marcar como completado</div>
          </b-form-checkbox>
        </b-card>
        <hr>
      </b-col>
    </b-row>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex';

  export default {
    validate({params}) {
      return /^\d+$/.test(params.id)
    },
    computed: {
      ...mapGetters({
        tasks: 'tasks/getTasks'
      })
    },
    methods: {
      toggleTask(task) {
        this.$store.dispatch('tasks/toggleTask', task)
      }
    },
    mounted() {
      this.$store.dispatch('tasks/getTasksByUser', this.$route.params.id);
    }
  }
</script>

<style scoped>

</style>
