<template>
  <div>
    <h3>Usuarios</h3>
    <b-table striped hover :items="users" :fields="fields">
      <template slot="[avatar]" slot-scope="data">
        <b-img :src="data.value" rounded class="avatar"></b-img>
      </template>
      <template slot="[id]" slot-scope="data">
        <nuxt-link :to="`/users/${data.value}`">
          Editar
        </nuxt-link>
      </template>
    </b-table>

    <b-row>
      <b-col md="3" sm="6" xs="6" v-for="user in users" :key="user.id">
          <b-card
            class="mb-3 avatar" :title="`${ user.first_name } ${ user.last_name }`" :img-src="user.avatar" img-alt="Image" >
            <b-card-text>
              {{ user.email }}
            </b-card-text>
            <b-card-text class="small text-muted">
              <nuxt-link class="card-link" :to="`/users/${user.id}`">
                Ver
              </nuxt-link>
            </b-card-text>
          </b-card>
      </b-col>
    </b-row>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex';

  export default {
    name: "index",
    middleware: 'auth',
    data() {
      return {
        fields: ['email', 'first_name', 'last_name', 'avatar', 'id'],
        page: 1
      }
    },
    computed: mapGetters({
      users: 'users/users'
    }),
    mounted() {
      this.$store.dispatch('users/getUsers', this.page);
    }
  }
</script>

<style scoped>
  .avatar {
    max-height: 250rem;
  }
</style>
