<template>
  <main>
  <b-container fluid class="main">
      <navbar/>
      <nuxt/>
  </b-container>
  </main>
</template>

<style>
</style>

<script>
  import Navbar from "../components/navbar";
  export default {
    components: {Navbar}
  }
</script>
